@import url("navbar.css");

.grid-buttons {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mixed-colors {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.grid-div {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    justify-content: center;
}


/*  color popup  */
#color-popup {
    display: flex;
    background-color: white;
    outline: 1px solid black;
    width: 310px;
    visibility: hidden;
    position: absolute;
}

#color-popup > #popup-color-1 > div {
    width: 145px;
    height: 145px;
    background-color: red;
    margin: 5px;
}
#color-popup > #popup-color-1{
    outline: 1px solid black;
}
#color-popup > #popup-color-2 > div{
    width: 145px;
    height: 145px;
    background-color: green;
    margin: 5px;
}

#color-popup p{
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

