@import url("navbar.css");

.grid-buttons {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mixed-colors {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.grid-div {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    justify-content: center;
}