@import url("navbar.css");

#container{
    display: flex;
}
#sidebar {
    width: 280px; /* changes the width of the whole sidebar!!! */
    height: 83vh;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.flex-container{
    display: flex;
    justify-content: space-between; /* Ensures even spacing */
}

#drag-drop-field {
    display: flex;
    justify-content: space-between; /* Ensures even spacing */
    width: 100%;
    flex: 1;
    position: relative;
}

#machine-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#machines{
    flex-grow: 1;
}

#ingredients, #machines {
    flex: 1;  /* Each takes equal space */
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    position: relative;
}

.pot{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: green;
}

#mixinghallnav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
#mixinghallnav button {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}
#mixinghallnav button.selected {
    background-color: #2ecc71;
    transform: scale(1.1);
}

.machine{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}
#mixinghallnav button.active {
    background-color: green !important;
}
